{$DOMAIN} {
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy same-origin
        X-Frame-Options DENY
    }
    request_body {
        max_size 64KB
    }
    reverse_proxy app:8080
}
